:host {
  display: block;
}

.takeaway-list-form {
  max-width: 500px;
  margin: 20px;
  padding: 10px;
}

.takeaway-buttons {
  background-color: #24252a;
  color: #edf0f1;
  padding: 0 12px;
  border: none; 
  height: 30px; 
  border-radius: 4px;
  margin: 10px;
  cursor: pointer;
  transition-duration: 0.4s;
  font: inherit;
  font-weight: 500;
}

.takeaway-buttons:hover {
  background-color: #0088a9;
  color: white;
}

#add-takeaway-textbox {
  width: 100%;
  padding: 0 12px; 
  height: 40px;
  margin: 10px;
  font: inherit;
  border-radius: 4px;
  border: 2px solid grey;
}

#random-takeaway-button {
  position: relative; 
  left: 30px;
  top: -30px;
}

h2 {
  position: relative; 
  left: 18px;
  top: -42px;
  padding: 10px; 
  margin: 12px;
  font-size: 20px;
}
